name: task_manager_application
description: Task Manager app with Back4App (Parse)

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  parse_server_sdk_flutter: ^9.0.0
  intl: ^0.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
